Word/
.venv/
__pycache__/
saved_models/*.h5
saved_models/*.pkl
saved_models/*.keras
data/HAM10000/augmented_data/
data/HAM10000/balanced_data/
data/HAM10000/all_ham_images/
data/HAM10000/skin_cancer_data/


